.main{
    background-color: rgb(184, 16, 16);
    color: chocolate;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

.contenedor-producto{
    width: 15%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(207, 21, 21);
    border-radius: 25px;
    margin: 30px 30px;
}
